<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://executeallproceduresfromsinister.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0f541673-9e13-452d-b0da-2fd2da374e20/resourceGroups/MailRedirection/providers/Microsoft.Web/sites/ExecuteAllProceduresFromSinister</ResourceId>
    <UserName>$ExecuteAllProceduresFromSinister</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://executeallproceduresfromsinister.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>